{% extends "base.html" %}
{% block content %}
<div class="content-body text-start" style="width: 60rem; max-width: 90%;">
    <div class="feature-item mb-4" style="max-height: fit-content; padding-bottom: 4px;">
        <h5 class="text-white mb-3" style="max-width: fit-content;">Interface Legend</h5>
    </div>
    <div class="feature-item mb-4">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 mb-3 mb-md-0">
                <h5 class="text-white mb-1">Optimal Condition: </h5>
                <p class="small text-success fw-bold mb-0">
                    Status: Enabled
                </p>
            </div>
            
            <div class="col-12 col-md-4">
                <form action="" method="POST" class="w-100">
                    <button type="submit" 
                            class="btn btn-sm btn-outline-info admin-panel-btn btn-outline-info" disabled>
                        Disable
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="feature-item mb-4">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 mb-3 mb-md-0">
                <h5 class="text-white mb-1">Attention Required: </h5>
                <p class="small text-warning fw-bold mb-0">
                    Status: Enabled
                </p>
            </div>
            
            <div class="col-12 col-md-4">
                <form action="" method="POST" class="w-100">
                    <button type="submit" 
                            class="btn btn-sm btn-outline-info admin-panel-btn btn-outline-info" disabled>
                        Disable
                    </button>
                </form>
            </div>
        </div>
    </div>

    <hr class="my-4 border-light opacity-25">
    <div class="feature-item mb-4" style="max-height: fit-content; padding-bottom: 4px;">
        <h5 class="text-white mb-3" style="max-width: fit-content;">Admin Settings</h5>
    </div>

    {% for setting in settings %}
    <div class="feature-item mb-4">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 mb-3 mb-md-0">
                <h5 class="text-white mb-1">{{ setting.label }}</h5>
                <p class="small {{ 'text-success' if setting.value == setting.expected_value else 'text-warning' }} fw-bold mb-0">
                    Status: {{ 'Enabled' if setting.value else 'Disabled' }}
                    <span class="badge text-bg-warning">{{ 'INOP' if not setting.implemented }}</span>
                </p>
            </div>
            
            <div class="col-12 col-md-4"> 
                <form action="{{ url_for('toggle_setting', setting_key=setting.key) }}" method="POST" class="w-100">
                    <button type="submit" 
                            class="btn btn-sm admin-panel-btn {{ 'btn-outline-info' if setting.value else 'btn-outline-success' }}" 
                            {{ 'disabled' if not setting.implemented }}>
                        {{ 'Disable' if setting.value else 'Enable' }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="actions mt-5">
    <a href="{{ url_for('index') }}" class="btn btn-lg btn-outline-light fw-bold">Back to Home</a>
</div>
{% endblock %}

